In [2]:
import pandas as pd
import numpy as np

In [6]:
TRAIN_IDS_OUT = "/mnt/d/ML/Kaggle/CAFA6-new/mmseq/train_ids.txt"
VAL_IDS_OUT = "/mnt/d/ML/Kaggle/CAFA6-new/mmseq/val_ids.txt"

train_seq = pd.read_csv(TRAIN_IDS_OUT, header=None)
train_seq

                               0
0      sp|A0A0C5B5G6|MOTSC_HUMAN
1          sp|A0JNW5|BLT3B_HUMAN
2          sp|A0JP26|POTB3_HUMAN
3          sp|A0PK11|CLRN2_HUMAN
4          sp|A1A4S6|RHG10_HUMAN
...                          ...
65918       sp|Q9UT54|YI95_SCHPO
65919       sp|Q9UTM1|YIV1_SCHPO
65920       sp|Q9Y7P7|YQ63_SCHPO
65921       sp|Q9Y7Q3|YQ6A_SCHPO
65922       sp|Q9Y816|YOND_SCHPO

[65923 rows x 1 columns]

In [8]:
train_seq[0]  = train_seq[0].str.split('|').str[1]
train_seq

                0
0      A0A0C5B5G6
1          A0JNW5
2          A0JP26
3          A0PK11
4          A1A4S6
...           ...
65918      Q9UT54
65919      Q9UTM1
65920      Q9Y7P7
65921      Q9Y7Q3
65922      Q9Y816

[65923 rows x 1 columns]

In [9]:
#get the indexes of train ids which are present in train_seq
train_ids = np.load("/mnt/d/ML/Kaggle/CAFA6-new/Dataset/esm_t33_650M/train_ids.npy", allow_pickle=True)
train_ids_indices = [i for i, id in enumerate(train_ids) if id in train_seq[0].values]
train_ids_indices.shape

KeyboardInterrupt:

In [10]:
train_ids = np.load("/mnt/d/ML/Kaggle/CAFA6-new/Dataset/esm_t33_650M/train_ids.npy", allow_pickle=True)
train_ids

array(['P20536', 'O73864', 'O95231', ..., 'Q5RGB0', 'A0A2R8QMZ5',
       'A0A8I6GHU0'], shape=(142246,), dtype='<U10')

In [2]:
df = pd.read_csv("/mnt/d/ML/Kaggle/CAFA6-new/uniprot/protein_go_annotations/goa_uniprot_ver227.csv")
df

        protein_id     go_term    qualifier
0           A1CHB5  GO:0042407  involved_in
1           A1CHB5  GO:0061617      part_of
2           A1CHB5  GO:0005743   located_in
3           Q9ZFU7  GO:0000987      enables
4           Q9ZFU7  GO:0003700      enables
...            ...         ...          ...
2583072     P0C664  GO:0010696  involved_in
2583073     Q621J7  GO:0005737  involved_in
2583074     Q6KAQ7  GO:0140566  involved_in
2583075     Q6KAQ7  GO:0070577  involved_in
2583076     Q6KAQ7  GO:0035064  involved_in

[2583077 rows x 3 columns]